.gradient-bg {
  overflow: hidden;
  position: relative;
  border-image: fill 1
    linear-gradient(
      180deg,
      rgba(216, 164, 111, 1) 0%,
      rgba(168, 128, 88, 1) 57%,
      rgba(141, 111, 82, 1) 88%
    );
}
